In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [39]:
df=pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [40]:
df1=df[['sepal length (cm)','sepal width (cm)','target']]
df1

     sepal length (cm)  sepal width (cm)  target
0                  5.1               3.5       0
1                  4.9               3.0       0
2                  4.7               3.2       0
3                  4.6               3.1       0
4                  5.0               3.6       0
..                 ...               ...     ...
145                6.7               3.0       2
146                6.3               2.5       2
147                6.5               3.0       2
148                6.2               3.4       2
149                5.9               3.0       2

[150 rows x 3 columns]

In [41]:
P_test=df1.iloc[149]
P_test

sepal length (cm)    5.9
sepal width (cm)     3.0
target               2.0
Name: 149, dtype: float64

In [42]:
df3=df1.drop(df1.index[149])
df3

     sepal length (cm)  sepal width (cm)  target
0                  5.1               3.5       0
1                  4.9               3.0       0
2                  4.7               3.2       0
3                  4.6               3.1       0
4                  5.0               3.6       0
..                 ...               ...     ...
144                6.7               3.3       2
145                6.7               3.0       2
146                6.3               2.5       2
147                6.5               3.0       2
148                6.2               3.4       2

[149 rows x 3 columns]

In [43]:
X=P_test.iloc[0]
Y=P_test.iloc[1]
(X,Y)

(np.float64(5.9), np.float64(3.0))

In [44]:
list_Euclidean_Distance=[]
for col in range(len(df3)):
   list_Euclidean_Distance.append(math.sqrt( ((X-df3.iloc[col,0])**2)+((Y-df3.iloc[col,1])**2)))
list_Euclidean_Distance

[0.943398113205661,
 1.0,
 1.216552506059644,
 1.3038404810405304,
 1.081665382639197,
 1.0295630140987,
 1.360147050873545,
 0.9848857801796107,
 1.503329637837291,
 1.004987562112089,
 0.8602325267042628,
 1.170469991071963,
 1.1000000000000005,
 1.6000000000000005,
 1.004987562112089,
 1.4142135623730956,
 1.0295630140987,
 0.943398113205661,
 0.8246211251235319,
 1.1313708498984762,
 0.6403124237432848,
 1.0630145812734657,
 1.4317821063276361,
 0.8544003745317537,
 1.170469991071963,
 0.9000000000000004,
 0.9848857801796107,
 0.8602325267042628,
 0.806225774829855,
 1.216552506059644,
 1.1045361017187265,
 0.6403124237432848,
 1.3038404810405295,
 1.264911064067352,
 1.004987562112089,
 0.9219544457292891,
 0.6403124237432851,
 1.1661903789690602,
 1.5,
 0.8944271909999164,
 1.0295630140987002,
 1.5652475842498532,
 1.5132745950421556,
 1.0295630140987002,
 1.1313708498984762,
 1.1000000000000005,
 1.1313708498984762,
 1.3152946437965913,
 0.9219544457292893,
 0.948683298050514,
 1.1180339887498945,
 0.5385164807134505,
 1.004987562112089,
 0.8062257748298554,
 0.6324555320336757,
 0.2828427124746193,
 0.4999999999999995,
 1.1661903789690602,
 0.7071067811865468,
 0.761577310586391,
 1.3453624047073711,
 0.0,
 0.8062257748298547,
 0.22360679774997838,
 0.31622776601683866,
 0.8062257748298548,
 0.3000000000000007,
 0.31622776601683794,
 0.8544003745317529,
 0.5830951894845304,
 0.20000000000000018,
 0.2828427124746186,
 0.6403124237432846,
 0.2828427124746186,
 0.5099019513592785,
 0.6999999999999993,
 0.9219544457292882,
 0.7999999999999998,
 0.1414213562373093,
 0.4472135954999579,
 0.7211102550927981,
 0.7211102550927981,
 0.31622776601683794,
 0.31622776601683766,
 0.5,
 0.41231056256176585,
 0.8062257748298548,
 0.8062257748298549,
 0.3000000000000007,
 0.6403124237432851,
 0.5656854249492381,
 0.1999999999999993,
 0.4123105625617661,
 1.1401754250991385,
 0.4242640687119289,
 0.20000000000000018,
 0.22360679774997916,
 0.31622776601683783,
 0.943398113205661,
 0.2828427124746193,
 0.4999999999999995,
 0.31622776601683794,
 1.1999999999999993,
 0.41231056256176557,
 0.5999999999999996,
 1.6999999999999993,
 1.118033988749895,
 1.4035668847618195,
 0.9433981132056602,
 1.4317821063276353,
 0.6324555320336757,
 0.58309518948453,
 0.8999999999999995,
 0.5385164807134505,
 0.22360679774997935,
 0.5385164807134505,
 0.5999999999999996,
 1.9697715603592207,
 1.8439088914585773,
 0.8062257748298547,
 1.019803902718557,
 0.3605551275463996,
 1.8110770276274832,
 0.4999999999999995,
 0.8544003745317529,
 1.3152946437965904,
 0.3605551275463989,
 0.1999999999999993,
 0.5385164807134505,
 1.2999999999999998,
 1.5132745950421556,
 2.1540659228538015,
 0.5385164807134505,
 0.44721359549995754,
 0.44721359549995754,
 1.7999999999999998,
 0.5656854249492376,
 0.5099019513592785,
 0.09999999999999964,
 1.004987562112089,
 0.8062257748298548,
 1.004987562112089,
 0.31622776601683794,
 0.9219544457292882,
 0.8544003745317529,
 0.7999999999999998,
 0.6403124237432846,
 0.5999999999999996,
 0.49999999999999983]

In [45]:
df2=pd.DataFrame(list_Euclidean_Distance)
df2.columns=['Euclidean Distance']
df2

     Euclidean Distance
0              0.943398
1              1.000000
2              1.216553
3              1.303840
4              1.081665
..                  ...
144            0.854400
145            0.800000
146            0.640312
147            0.600000
148            0.500000

[149 rows x 1 columns]

In [46]:
df2.min()

Euclidean Distance    0.0
dtype: float64

In [47]:

df1[(df1.iloc[:,0] == P_test.iloc[0]) & (df1.iloc[:,1] == P_test.iloc[1])]

     sepal length (cm)  sepal width (cm)  target
61                 5.9               3.0       1
149                5.9               3.0       2

کلاس p_test با کلاس پیش بینی شده متفاوت است نقطه ای در کلاس   versicolor وجود دارد که دقیقا مختصات آن با p_test یکسان است.

In [48]:
idx = np.argsort(list_Euclidean_Distance)[:3]
idx

array([ 61, 138,  78])

In [49]:
np.array(list_Euclidean_Distance)[idx]

array([0.        , 0.1       , 0.14142136])

In [50]:
list_target=[]
list_target=df["target"][idx]
list_target

61     1
138    2
78     1
Name: target, dtype: int64

بر اساس آمار بدست آمده کمترین مقدار فاصله اقلیدسی نسبت به p_test انتخابی دو نمونه از کلاس 1 یعنیversicolor و یک نمونه از کلاس دو یعنی virginica بدست آمده است . در نتیجه بر اساس راس اکثریت کلاس پیش بینی شده برای p_test کلاس versicolor است.


وقتی مقدار k بالا باشد یعنی تعداد همسایه ها اطراف p_test بیشتر است و تصمیم گیری راجع به رفتار  نقطه تست به واقعیت نزدیک تر است. اگر k=1 باشد؛ نقطه تست با یک همسایه نزدیکش باید مقایسه شود و اگر این نقطه نزدیک نویز یا اوتلایر باشد پس پیش بینی کاملا غلط میشود.
با بالا رفتن تعدادk تصمیم گیری بین نمونه های مختلف صورت میگیرد و پایدار تر و مورد اعتماد تر است