In [170]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [171]:
df=pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [172]:
# df1=df[['sepal length (cm)','sepal width (cm)','target','petal length (cm)','petal width (cm)']]
# df1

In [173]:
df1=df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
df1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [174]:
P_test=df.iloc[149]
P_test

sepal length (cm)    5.9
sepal width (cm)     3.0
petal length (cm)    5.1
petal width (cm)     1.8
target               2.0
Name: 149, dtype: float64

In [175]:
df2=df1.drop(df1.index[149])
df2

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3

[149 rows x 4 columns]

In [176]:
X=P_test.iloc[0]
Y=P_test.iloc[1]
Z=P_test.iloc[2]
T=P_test.iloc[3]
(X,Y,Z,T)

(np.float64(5.9), np.float64(3.0), np.float64(5.1), np.float64(1.8))

In [177]:
list_Euclidean_Distance=[]
for col in range(len(df2)):
   list_Euclidean_Distance.append(math.sqrt( ((X-df2.iloc[col,0])**2)+((Y-df2.iloc[col,1])**2)+((Z-df2.iloc[col,2])**2)+((T-df2.iloc[col,3])**2)))
list_Euclidean_Distance

[4.1400483088968905,
 4.153311931459037,
 4.298837052040936,
 4.149698784249286,
 4.173727350941841,
 3.818376618407356,
 4.217819341792628,
 4.060788100849391,
 4.302324952859791,
 4.106093033529562,
 4.03236903073119,
 4.022437072223753,
 4.217819341792628,
 4.631414470763764,
 4.33358973600409,
 4.113392760240626,
 4.178516483155236,
 4.102438299353203,
 3.806573262134856,
 4.060788100849391,
 3.8118237105091834,
 4.006245124802025,
 4.628174586162454,
 3.738983819167983,
 3.7643060449437424,
 3.9522145690739006,
 3.896151947755631,
 4.03236903073119,
 4.110960958218893,
 4.036087214122113,
 4.00374824383352,
 3.915354390090378,
 4.189272013130682,
 4.224926034855522,
 4.065710270051224,
 4.315089802078283,
 4.172529209005013,
 4.235563716909474,
 4.387482193696061,
 4.039801975344831,
 4.2130748865881795,
 4.374928570845472,
 4.3920382511995495,
 3.8405728739343035,
 3.671511950137164,
 4.141255848169731,
 4.011234224026316,
 4.240283009422838,
 4.045985664828781,
 4.141255848169731,
 1.2529964086141663,
 0.8602325267042625,
 1.0677078252031311,
 1.452583904633395,
 0.8602325267042625,
 0.8306623862918073,
 0.6708203932499363,
 2.2891046284519194,
 0.9999999999999994,
 1.4764823060233399,
 2.238302928559939,
 0.9486832980505133,
 1.5811388300841893,
 0.6082762530298215,
 1.6124515496597096,
 1.1401754250991376,
 0.7348469228349535,
 1.319090595827292,
 1.0862780491200212,
 1.5066519173319362,
 0.3605551275463989,
 1.2409673645990853,
 0.734846922834953,
 0.774596669241483,
 1.0723805294763606,
 1.0677078252031302,
 1.048808848170151,
 0.8124038404635958,
 0.6855654600401041,
 1.8439088914585773,
 1.6431676725154982,
 1.766352173265569,
 1.3784048752090219,
 0.37416573867739383,
 0.8366600265340753,
 0.7549834435270746,
 0.9486832980505134,
 1.178982612255159,
 1.1575836902790229,
 1.3674794331177342,
 1.0816653826391964,
 0.6708203932499368,
 1.3190905958272918,
 2.2759613353482084,
 1.113552872566004,
 1.0999999999999996,
 1.0535653752852734,
 0.9949874371066197,
 2.406241883103193,
 1.1532562594670797,
 1.2449899597988732,
 0.33166247903553997,
 1.4730919862656233,
 0.6480740698407857,
 1.004987562112089,
 2.2869193252058535,
 1.2727922061357855,
 1.8466185312619385,
 1.174734012447073,
 1.8814887722226779,
 0.6633249580710797,
 0.6244997998398398,
 1.0295630140986998,
 0.5830951894845301,
 0.6403124237432849,
 0.7615773105863908,
 0.7211102550927978,
 2.5690465157330262,
 2.624880949681338,
 0.8660254037844384,
 1.2845232578665131,
 0.4582575694955842,
 2.4248711305964283,
 0.5385164807134497,
 1.0862780491200217,
 1.5937377450509227,
 0.4690415759823428,
 0.282842712474618,
 0.7937253933193773,
 1.489966442575134,
 1.816590212458495,
 2.5238858928247927,
 0.8366600265340757,
 0.5385164807134502,
 0.7810249675906653,
 2.118962010041709,
 0.9643650760992951,
 0.6480740698407862,
 0.31622776601683766,
 1.0908712114635717,
 1.1224972160321822,
 1.1224972160321822,
 0.33166247903553997,
 1.3190905958272918,
 1.2569805089976536,
 0.9486832980505135,
 0.6557438524301997,
 0.6403124237432847,
 0.7681145747868608]

In [178]:
df3=pd.DataFrame(list_Euclidean_Distance)
df3.columns=['Euclidean Distance']
df3

     Euclidean Distance
0              4.140048
1              4.153312
2              4.298837
3              4.149699
4              4.173727
..                  ...
144            1.256981
145            0.948683
146            0.655744
147            0.640312
148            0.768115

[149 rows x 1 columns]

In [179]:
idx = np.argsort(list_Euclidean_Distance)[:3]
idx

array([127, 138, 142])

In [180]:
np.array(list_Euclidean_Distance)[idx]

array([0.28284271, 0.31622777, 0.33166248])

In [181]:
list_target=[]
list_target=df["target"][idx]
list_target

127    2
138    2
142    2
Name: target, dtype: int64

قسمت 2

In [182]:
# list_mean=[]
# list_std=[]
# for col in df2.columns:
#     list_mean.append(df2[col].mean())
#     list_std.append(df2[col].std())
    
means=df1.mean()
standard_dv=df1.std()
means

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [ ]:
z_score=(df1-means)/standard_dv
z_score

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.897674          1.015602          -1.335752         -1.311052
1            -1.139200         -0.131539          -1.335752         -1.311052
2            -1.380727          0.327318          -1.392399         -1.311052
3            -1.501490          0.097889          -1.279104         -1.311052
4            -1.018437          1.245030          -1.335752         -1.311052
..                 ...               ...                ...               ...
145           1.034539         -0.131539           0.816859          1.443994
146           0.551486         -1.278680           0.703564          0.919223
147           0.793012         -0.131539           0.816859          1.050416
148           0.430722          0.786174           0.930154          1.443994
149           0.068433         -0.131539           0.760211          0.788031

[150 rows x 4 columns]

In [191]:
list_Euclidean_Distance_normal=[]
for col in range(len(z_score)):
   list_Euclidean_Distance_normal.append(math.sqrt( ((X-z_score.iloc[col,0])**2)+((Y-z_score.iloc[col,1])**2)+((Z-z_score.iloc[col,2])**2)+((T-z_score.iloc[col,3])**2)))
list_Euclidean_Distance_normal

[10.061995338583092,
 10.509729936791171,
 10.582160109558895,
 10.657200350462098,
 10.101595753566832,
 9.482997703824363,
 10.487208774010824,
 10.155659133081576,
 10.991330780668257,
 10.448813750860019,
 9.701188453212056,
 10.286797715418045,
 10.630271273307983,
 11.14585897738755,
 9.41806256218551,
 9.25725740927054,
 9.634216914237278,
 10.022208698450736,
 9.31140712666087,
 9.872224193721769,
 9.759825666917074,
 9.866281859718272,
 10.57957602094965,
 9.94097006670935,
 10.183230038166394,
 10.359701148197948,
 10.042616984577196,
 9.944374459884761,
 10.028943400520824,
 10.478755562567,
 10.456549486384137,
 9.753105316394317,
 9.80590180062134,
 9.545426444685953,
 10.408852134842038,
 10.371917180427957,
 9.779681162209595,
 10.225522637891286,
 10.956830657854765,
 10.07377831616499,
 10.14068140973775,
 11.404356988163695,
 10.834612795616247,
 9.922948867908598,
 9.687961796649038,
 10.553202277536185,
 9.876253336209526,
 10.63121988556316,
 9.781715474188985,
 10.243622861150948,
 7.115839386073802,
 7.63855534539599,
 7.1839080423854655,
 9.472654472710936,
 7.894314405919659,
 8.628717225570812,
 7.553270452846918,
 10.141344572511759,
 7.766138568103597,
 9.312880366140151,
 10.44395645605038,
 8.325146633588945,
 9.282475170561726,
 8.109133366178016,
 8.909147658528337,
 7.542497870134062,
 8.487951489604338,
 8.851132954620875,
 8.857688489330618,
 9.251652939019884,
 7.906463847320701,
 8.458841280316994,
 8.289705832073409,
 8.260034164328538,
 8.023717175181673,
 7.711244081104657,
 7.622489206089198,
 7.356270576597706,
 8.23312208105397,
 9.222300965547282,
 9.470558867108819,
 9.528562506637357,
 8.857433579273023,
 8.225696219834647,
 8.66577280255657,
 7.812659150428377,
 7.410960735599004,
 8.733017678052226,
 8.661630359772136,
 9.251704451692458,
 9.052097573758926,
 8.04916384215074,
 8.927151466080922,
 10.162800320474108,
 8.902567456720359,
 8.569985281536162,
 8.630142452753994,
 8.183132302389069,
 9.940610754444217,
 8.753676073955381,
 7.018080372720687,
 8.344508573595403,
 6.670843861631601,
 7.575116207230735,
 7.1884963826292285,
 6.053702187198559,
 9.542725750333389,
 6.546968796516628,
 7.6520031303398435,
 5.957195774526261,
 7.253977873365367,
 7.781994752430064,
 7.044110786732425,
 8.664877254762553,
 8.19789509904896,
 7.243106844307382,
 7.3369160464905985,
 5.204362905540702,
 6.39735506101092,
 8.865000325812119,
 6.682062737901591,
 8.464433702054444,
 6.214574307527167,
 8.003230102983778,
 6.7840866363145675,
 6.402930470068793,
 8.010349180903031,
 7.868235474945542,
 7.55369611151194,
 6.718734172314334,
 6.638217852607495,
 5.186248180305695,
 7.544089053405011,
 7.893470061082552,
 8.152433009872405,
 6.127876041978373,
 7.072041569859844,
 7.327626159646195,
 7.986337038431244,
 6.897320906132409,
 6.971448798433317,
 6.9830881769937365,
 8.344508573595403,
 6.699839166461263,
 6.756492323113962,
 7.207723798236281,
 8.186459698467205,
 7.402366508026171,
 7.233835460239696,
 7.979446134847294]

In [194]:
df_3=pd.DataFrame(list_Euclidean_Distance_normal)
df_3.columns=['Euclidean Distance']
df_3

     Euclidean Distance
0             10.061995
1             10.509730
2             10.582160
3             10.657200
4             10.101596
..                  ...
145            7.207724
146            8.186460
147            7.402367
148            7.233835
149            7.979446

[150 rows x 1 columns]

In [195]:
idx = np.argsort(list_Euclidean_Distance_normal)[:3]
idx

array([131, 117, 109])

In [196]:
np.array(list_Euclidean_Distance_normal)[idx]

array([5.18624818, 5.20436291, 5.95719577])

In [197]:
list_target1=[]
list_target1=df["target"][idx]
list_target1

131    2
117    2
109    2
Name: target, dtype: int64

در هر دو حالت پیش بینی درست و از کلاس virginica است